.grids {
    position: relative;
    /* padding: 0 10%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* background-color: brown; */
    color: aliceblue;
    padding: 200px 0px;
    /* padding-top: 200px; */
}

.grid {
    position: relative;
    /* padding: 50px 0; */
    width: 18%;
    min-width: 200px;
    height: 200px;
    margin: 0.5em;
    background-color: rgb(22, 22, 22);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}

.grid h1 {
    position: absolute;
    line-height: 50px;
    font-size: 14px;
    width: 100%;
    bottom: 0;
}

.navBtns {
    position: absolute;
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: rgb(15, 71, 57); */
}

.navBtn {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    top: 0;
    background-color: rgb(22, 22, 22);
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

.navBtns span {
    width: 100%;
    color: aliceblue;
    font-size: 32px;
    line-height: 50px;
}

.navBtns .preBtn {}

.navBtns .nextBtn {}

.gridCloseBtn {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: blue;
    top: -16px;
    right: -16px;
    -webkit-animation: scale 1s ease-in-out infinite alternate;
}


/******************************
Animations
******************************/

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(0.3);
    }
    100% {
        -webkit-transform: scale(0.4);
    }
}


/* .gridActiv {
    position: absolute;
} */

.gridImg {
    width: 100%;
}