.page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;

}


.galdserver {
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;

}


/* .page .cards{
    display: none; 
}


.page .grids{
    display: none; 
}


.page .accordions{
    display: none; 
}


.page .rotating-slider{
    display: none; 
}


.page .screen{
    display: none; 
} */




.page:nth-child(odd){
    background-color: rgb(20, 37, 71);
    background-size: 22px 22px;
}


.page:nth-child(even){
    background-color: rgb(30, 82, 83);
    background-size: 22px 22px;
}

#galdhome {
    overflow: hidden;
    width: 100%;
    height: inherit;
    background-color: rgb(150, 150, 150);
}



/* 
.galdserver {
    width: 100%;
    background-color: rgb(100, 100, 100);
}

.galdworkflow {
    width: 100%;
    background-color: rgb(150, 150, 150);
}

.galdVideo {
    width: 100%;
    background-color: rgb(100, 100, 100);
}

.galdTeam {
    width: 100%;
    background-color: rgb(150, 150, 150);
}

.galdwork {
    width: 100%;
    background-color: rgb(100, 100, 100);
}

.galdcontact {
    width: 100%;
    background-color: rgb(150, 150, 150);
} */