.navPointer {
    position: relative;
    width: 100%;
    background-color: #c0e22b;
}

.navCicle {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #2be2a7;
    z-index: 1;
    /* border-radius: 50%; */
    left: 0;
    right: 0;
    margin: auto;
}

h1 {
    font-size: 2em;
    color: aliceblue;
    line-height: 2.2em;
}