.rotating-slider {
    position: relative;
    margin: 0 auto;
    margin-top: 30vh;
    height: 360px;
    width: 480px;
}

.teamIntra{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 50px;
    color: #ecf0f1;
    z-index: 100;
}


.teamHead {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blue;
    text-align: center;
    margin: 0 auto;
    z-index: 1;
    overflow: hidden;
    clip-path: none;
    /* top: 500px; */
}

.teamHead img {
    position: relative;
    bottom: 0;
    height: 100%;
}

.rotating-slider ul.direction-controls {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rotating-slider ul.direction-controls li.left-arrow {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
}

.rotating-slider ul.direction-controls li.right-arrow {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
}

.rotating-slider ul.direction-controls li button {
    background: rgba(0, 0, 0, 0.6);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 700;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0;
    text-align: center;
    transition: background 0.25s;
    width: 1.5em;
    border-radius: 100%;
}

.rotating-slider ul.direction-controls li button:hover {
    background: #f00;;
}

.rotating-slider ul.slides {
    border-radius: 50%;
    height: 100%;
    margin: 0;
    /* overflow: hidden; */
    padding: 0;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(0);
    transform-origin: center center;
    width: 100%;
    background-color: rgb(10, 10, 10);
    /* background-image: url(../../../img/Skyscrapers.png) */
}

.rotating-slider ul.slides li {
    background-color: #ecf0f1;
    background-position: center;
    background-size: cover;
    display: block;
    list-style: none;
    position: absolute;
    top: 0;
    left: 50%;
    text-align: center;
    transform-origin: bottom center;
    width: 100%;
}



.rotating-slider ul.slides li h1 {    
    font-size: 32px;
    line-height: 50px;
}

.rotating-slider ul.slides li p {
    font-size: 18px;
    line-height: 36px;
}





.rotating-slider ul.slides li:nth-of-type(odd) {
    background-color: rgb(221, 221, 221);
}

.rotating-slider ul.slides li:nth-of-type(odd) h1{
    color: rgb(10, 10, 10);
}

.rotating-slider ul.slides li:nth-of-type(even) {
    color: rgb(221, 221, 221);
    background-color: rgb(31, 31, 31);
}


/* 
.rotating-slider ul.slides li:nth-of-type(2) {
    background: url("https://images.pexels.com/photos/786859/pexels-photo-786859.jpeg?h=350&auto=compress&cs=tinysrgb");
    background-size: cover;
}

.rotating-slider ul.slides li:nth-of-type(3) {
    background: #FCCF4D;
}

.rotating-slider ul.slides li:nth-of-type(4) {
    background: url("https://images.pexels.com/photos/775859/pexels-photo-775859.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
}

.rotating-slider ul.slides li:nth-of-type(5) {
    background: #EF255F;
}

.rotating-slider ul.slides li:nth-of-type(6) {
    background: url(https://images.pexels.com/photos/785196/pexels-photo-785196.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
}

.rotating-slider ul.slides li:nth-of-type(7) {
    background: #FCCF4D;
}

.rotating-slider ul.slides li:nth-of-type(8) {
    background: url("https://images.pexels.com/photos/775859/pexels-photo-775859.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
}

.rotating-slider ul.slides li:nth-of-type(9) {
    background: #EF255F;
}

.rotating-slider ul.slides li:nth-of-type(10) {
    background: url("https://images.pexels.com/photos/775859/pexels-photo-775859.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
}

.rotating-slider ul.slides li:nth-of-type(11) {
    background: #EF255F;
} */

.rotating-slider ul.slides li .introduction {
    box-sizing: border-box;
    padding: 2em;
    height: 100%;
    width: 100%;
}